@import url('https://fonts.googleapis.com/css?family=Paytone+One');

.locale_2{
    color: #0591FC;
}
.mid__txt{
    font-family: 'Paytone One', cursive;
    font-size: medium;
    text-align: center;
    font-weight:200;
    margin-top: 20px;
    margin-bottom: 100px;
}

.card-1{
    padding-bottom: 10px;
    padding-top: 50px;
    width: 350px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 40px;
    
    
    
   
  
}
.c1_img{
    position:relative;
    left:125px;
    top:30px

}
.c2_img{
    position:relative;
    left:125px;
    top:30px

}
.c3_img{
    position:relative;
    left:125px;
    top:30px

}

.ct-1{
    color: #FF5C0A;
}

.ct-2{
    color: #0C8EFF;
}

.ct-3{
    color: #7E78F0;
}